.overlay.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.4s, opacity 0.4s;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 50%);
  overflow-y: scroll;
  padding: 50px;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  user-select: none;
  transition: visibility 0s, opacity 0.4s;
}

.popup {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 35px;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-md);
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 375px) {
  .overlay {
    padding: 20px;
  }
}
