.root {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 80px;
}

.column {
  display: grid;
  grid-template-rows: 160px auto 1fr;
  row-gap: 36px;
}

.list {
  display: grid;
  align-content: start;
  row-gap: 24px;
}

.launch {
  position: fixed;
  right: 30px;
  bottom: 30px;
  fill: white;
  color: white;
}

.button-with-shortcut {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media screen and (max-width: 769px) {
  .root {
    grid-template-columns: 1fr;
  }

  .column.hidden {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .filters {
    display: none;
  }
}
