.root {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 32px;
  background-color: var(--color-bg-primary);
}

.content {
  padding: 0 80px 32px;
}

.with-gutter {
  padding-top: 68px;
}

@media screen and (max-width: 426px) {
  .content {
    padding: 0 20px 40px;
  }
}

@media screen and (max-width: 769px) {
  .content {
    padding: 0 45px 40px;
  }
}
