.root {
  display: grid;
  grid-template-columns: 116px 1fr auto;
  column-gap: 16px;
  align-items: center;
  padding: 24px;
  border: var(--border-primary);
  border-radius: var(--border-radius-md);
  text-align: left;
  cursor: pointer;
  transition: 0.1s ease all;
  word-break: break-word;

  &:focus-within,
  &:focus-visible {
    outline: var(--border-accent);
  }

  &:hover {
    box-shadow: 0 0 7px -3px rgb(0 0 0 / 71%);
  }

  &:active {
    background-color: var(--background-color-active-secondary);
  }
}

.image {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.image-wrapper {
  border-radius: 50%;
  width: 116px;
  height: 116px;
}

.skeleton {
  background: linear-gradient(110deg, #b1b0b0 8%, #d4d1d1 18%, #b1b0b0 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.image.loading {
  display: none;
}

.body {
  display: grid;
  row-gap: 8px;
}

.checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.title {
  font-size: var(--size-text-3xl);
  line-height: var(--line-height-text-3xl);
  font-weight: bold;
  color: var(--color-typo-primary);
}

.description {
  font-size: var(--size-text-md);
  line-height: var(--line-height-text-md);
  color: var(--color-typo-primary);
}

.title,
.description {
  border-radius: 2px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: flex;
  padding: 6px 8px;
  border-radius: var(--border-radius-sm);
  font-size: var(--size-text-lg);
  line-height: var(--line-height-text-lg);
  background-color: var(--color-status-accent-30);
  color: var(--color-typo-primary);
}

.label::after {
  content: ':\00A0';
}

.value {
  font-weight: bold;
}

.item.loading,
.title.loading,
.description.loading {
  color: transparent;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media screen and (max-width: 1025px) {
  .root {
    grid-template-areas:
      'image controls'
      'body body';
    row-gap: 20px;
  }

  .controls {
    grid-area: controls;
    justify-self: end;
  }

  .body {
    grid-area: body;
  }

  .image {
    grid-area: image;
  }
}

@media screen and (max-width: 426px) {
  .title {
    font-size: var(--size-text-lg);
    line-height: var(--line-height-text-lg);
  }

  .description {
    font-size: var(--size-text-sm);
    line-height: var(--line-height-text-sm);
  }

  .item {
    font-size: var(--size-text-xs);
    line-height: var(--line-height-text-xs);
  }
}
